@using DataAccessLibrary.Models
@model List<Member>
@{
    ViewData["Title"] = "Index";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mitgliederverwaltung</h1>
    </div>
    @if (Model.Count > 0)
    {
        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Gesamtbeitrag</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Math.Round(@Model.Sum(model => model.Contribution), 2)€</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Durchschnittsbeitrag</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@((Model.Sum(model => model.Contribution) / Model.Count).ToString("0.##"))€</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Durchschnittsalter</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@(Model.Sum(model => Aufgabe_2.Utility.DateOfBirth.CalculateYourAge(model.DateOfBirth).Item1) / Model.Count())</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->
    }
    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h5 class="m-0 ">Mitgliederliste</h5>
                @if (User.IsInRole("Manager"))
                {
                    <a href="#" id="header_modal" name="addMitgliederModal" class="d-none d-sm-inline-block btn btn-primary btn-icon-split" data-toggle="modal" data-target="#addMitgliederModal">
                        <span class="icon text-white-50">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span class="text">Mitglied hinzufügen</span>
                    </a>
                }
            </div>
        </div>
        <div class="card-body">
            @if (Model.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model[0].PreName)</th>
                                <th>@Html.DisplayNameFor(model => model[0].LastName)</th>
                                <th>@Html.DisplayNameFor(model => model[0].PostCode)</th>
                                <th>@Html.DisplayNameFor(model => model[0].Home)</th>
                                <th>@Html.DisplayNameFor(model => model[0].Adress)</th>
                                <th>@Html.DisplayNameFor(model => model[0].DateOfBirth)</th>
                                <th>@Html.DisplayNameFor(model => model[0].Contribution)</th>
                                @if (User.IsInRole("Manager"))
                                {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var member in Model)
                            {
                                <tr>
                                    <td>@member.PreName </td>
                                    <td>@member.LastName</td>
                                    <td>@member.PostCode</td>
                                    <td>@member.Home</td>
                                    <td>@member.Adress</td>
                                    <td>@(member.DateOfBirth.ToString("d", System.Globalization.CultureInfo.CreateSpecificCulture("de-DE")))  (@(Aufgabe_2.Utility.DateOfBirth.CalculateYourAge(member.DateOfBirth).Item1))</td>
                                    <td>@member.Contribution€</td>
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <td>
                                            <button onclick='EditMember("@member.ID")' class="d-none d-sm-inline-block btn btn-primary btn-circle">
                                                <span class="icon">
                                                    <i class="fas fa-user-edit"></i>
                                                </span>
                                            </button>
                                        </td>
                                        <td>
                                            <form asp-action="Delete" asp-route-id="@member.ID">
                                                <button onclick='DeleteMember("@member.ID")' href="#" class="d-none d-sm-inline-block btn btn-danger btn-circle">
                                                    <span class="icon">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </span>
                                                </button>
                                            </form>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
    <div class="card p-3 shadow">
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-outline-primary w-100" data-toggle="modal" data-target="#importExportModal">
                    Import/Export <i class="fas fa-file-export"></i>
                </button>
            </div>
            <div class="col-4">
                @*<form method="post" enctype="multipart/form-data" asp-action="CsvImport">
                        <input type="file" name="file" accept=".csv" required />
                        <button class="d-none d-sm-inline-block btn btn-primary btn-icon-split" type="submit">
                            <span class="icon text-white-50">
                                <i class="fas fa-file-import"></i>
                            </span>CSV-Import
                        </button>
                    </form>*@
                <form method="post" enctype="multipart/form-data" asp-action="PdfExport">
                    <button type="submit" class="btn btn-outline-secondary w-100">
                        PDF Export <i class="fas fa-file-pdf"></i>
                    </button>
                </form>
            </div>
            <div class="col-4">
                <form asp-action="CsvExport">
                    <button type="submit" class="btn btn-outline-primary w-100">
                        Send Mail <i class="fas fa-envelope"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Mitgliederliste drucken</a>*@


<!-- MODAL SECTION -->
<div class="modal fade" id="importExportModal" tabindex="-1" role="dialog" aria-labelledby="importExportModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import/Export</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6">
                        <form asp-action="CsvExport">
                            <button type="submit" class="btn btn-outline-primary w-100">
                                Export <i class="fas fa-file-export"></i>
                            </button>
                        </form>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-group">
                            <form method="post" enctype="multipart/form-data" asp-action="CsvImport">
                                <input name="customFile" id="customFile" class="custom-file-input" type="file" accept=".csv" />
                                <label class="custom-file-label" style="margin-right:1.5rem;" for="customFile">Importieren</label>
                            </form>
                        </div>

                        @*<form method="post" enctype="multipart/form-data" asp-action="CsvImport">
                                <input type="file" name="file" accept=".csv" required />
                                <button type="submit" class="btn btn-outline-primary w-100">
                                    Import <i class="fas fa-file-import"></i>
                                </button>
                            </form>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>


<partial name="_AddMember" model="new Member()" />

<div id="memberPartialContainer">
    <partial name="_UpdateMember" model="new Member()" />
</div>


@section Scripts {
    <script type="text/javascript">
        function EditMember(memberID) {
            console.log(memberID);
            $.ajax({
                type: "GET",
                url: '/Home/EditMember?MemberID=' + memberID,
                contentType: 'json',
                success: function (result) {
                    $('#memberPartialContainer').html(result);
                    $('#updatedMitgliederModal').modal('toggle')
                }
            });
        }
    </script>

}