@using ParteiWebService.ViewModel
@using DataAccessLibrary.Models
@model TripAddUserViewModel
@{
    ViewData["Title"] = "Index";

}
@*Tuple<List<Member>, List<ExternalMember>, List<TravelMember>, Travel, List<Stop>, List<ExternalTravelMember>>*@
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class='fas fa-suitcase'></i> @Model.Travel.Destination</h1>
    </div>
    @Html.HiddenFor(x => x.Travel.TravelId)
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Reise Info</div>

                            <div class="h5 mb-0 font-weight-bold text-gray-800">von @Model.Travel.StartDate.ToString("d")</div>

                            <div class="h5 mb-0 font-weight-bold text-gray-800">bis @Model.Travel.EndDate.ToString("d")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hotel fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Teilnehmer</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <div id="travelParticipantsCard">
                                    <partial name="_TravelParticipantsCard"
                                             model="new Tuple<int,int>((Model.Travel.TravelMembers.Count() + Model.Travel.ExternalTravelMembers.Count()),Model.Travel.MaxTraveler)">


                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->



    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h5 class="m-0 ">Reiseteilnehmer</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="travelMemberTable">
                            <partial name="_TravelMemberTable"
                                     model="Model">
                        </div>
                        @*<div id="externalTravelMemberTable">
                                <partial name="_ExternalTravelMemberTable"
                                         model="Model">
                            </div>*@
                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>
        </div>



        <div class="col-4">
            <div class="accordion" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingMember">
                        <h2 class="mb-0">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseMember" aria-expanded="true" aria-controls="collapseMember">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h5 class="m-0 ">Mitglieder</h5>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseMember" class="collapse show" aria-labelledby="headingMember" data-parent="#accordion">
                        <div class="card-body">
                            <div id="memberTable">
                                <partial name="_memberTable"
                                         model="@Model.Members">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingExternalMember">
                        <h2 class="mb-0">
                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseExternalMember" aria-expanded="false" aria-controls="collapseExternalMember">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h5 class="m-0 ">Externe Mitglieder</h5>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseExternalMember" class="collapse" aria-labelledby="headingExternalMember" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <a href="#" id="header_modal" name="addExternalMemberModal" class="d-none d-sm-inline-block btn btn-primary btn-icon-split" data-toggle="modal" data-target="#addExternalMemberModal">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    <span class="text">Mitglied hinzufügen</span>
                                </a>
                            </div>
                            <div class="row">
                                <div id="externalMemberDropDown">
                                    <partial name="_ExternalMemberDropdown" 
                                             model="Model" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <partial name="_AddExternalMember" model="new AddExternalMemberViewModel(new ExternalMember(), @Model.Travel)" />

        @section Scripts {
            <script type="text/javascript">
                function GetExternalTravelMemberData(externalMemberId, travelId, stopId) {
                    // das kann denk weg
                    console.log(externalMemberId);
                    return $.ajax({
                        type: "GET",
                        url: '/TripAddUser/GetExternalTravelMemberData?ExternalMemberID=' + externalMemberId + '&TravelId=' + travelId + '&StopId=' + stopId,
                        contentType: 'application/json',
                        success: function (result) {
                            console.log(result);
                            $('#travelMemberTable').html(result);
                        }
                    })
                }
            </script>
            <script type="text/javascript">
                function DeleteExternalTravelMemberData(externalMemberId, travelId) {                    
                    return $.ajax({
                        type: "GET",
                        url: '/TripAddUser/DeleteExternalTravelMemberData?ExternalMemberID=' + externalMemberId + '&TravelId=' + travelId,
                        contentType: 'application/json',
                        success: function (result) {
                            //console.log(result);
                            $('#travelMemberTable').html(result);
                            setEventListenerFroDragAndDrop("#dataTableTravelMember");
                            $.ajax({
                                url: '/TripAddUser/GetExternalMemberData?TravelId=' + travelId,
                                type: "GET",
                                contentType: 'json',
                                success: function (resultTwo) {
                                    //console.log(resultTwo);
                                    $('#externalMemberDropDown').html(resultTwo);
                                    $('.selectpicker').selectpicker();                                    
                                }
                            })
                        }
                    })
                }
                function updateStopExternal(memberID, travelId) {
                    var stopId = document.getElementById("inputState").value;
                    //console.log("updatestop = " + memberID + " " + stopId);
                    return $.ajax({
                        type: "GET",
                        url: '/TripAddUser/UpdateStopExternal?MemberID=' + memberID + '&TravelId=' + travelId + '&StopId=' + stopId,
                        contentType: 'json',
                        success: function (result) {
                            //console.log(result);
                        }
                    });
                }
            </script>
        }
